nav {
    background-color: #161f08;
    padding: 25px 0;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  nav li {
    
    display: inline-block;
    margin: 0 30px;
  }
  
  nav a {
    color: #f4f4f4;
    text-decoration:none;
    font-size: 18px;
    padding: 5px 10px;
  }
  
  nav a:hover {
    background-color: #bcc72e;
  }

  h1{
    text-align: center;
    padding:1%;
  }
  h2{
    text-align: center;
    padding: 1%;
  }
  
  p{
    text-align: center;
    padding: 1%;
  }
  .pbir{
    text-align: left;
  }
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  .profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  } 
  .education-item {
    margin-bottom: 20px;
  }
  .carousel-item img {
    width: 100%;
    height: auto; 
    object-fit: cover;
}
  
